{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="pt-5 text-center">Django ToDo App</h3>
    <div class="row">
        <h4>My Day</h4>
        <p class="text-muted">{% now "jS F Y" %}</p>
        <div class="col-md-7 col-lg-7" style="height: 450px; overflow: scroll;">
            <!-- List of all the tasks for the day -->
            {% for task in tasks %}
                {% if not task.is_completed %}
                    <div class="card m-1">
                        <div class="card-body">
                            {{task.task}}
                            <span style="position: relative; float: right;">
                                <a class="btn btn-success" href="{% url "todo:task-complete" task.slug %}"><i class="fa fa-check"></i></a>
                                <a class="btn btn-primary" href="{% url "todo:edit-task" task.slug %}"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger" href="{% url "todo:delete-task" task.slug %}"><i class="fa fa-trash"></i></a>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
           
        </div>
        <div class="col-md-5 col-lg-5">
            <h5>Completed Tasks</h5>
            <!-- List of all the tasks that have completed -->
            {% for task in tasks %}
                {% if task.is_completed %}
                    <div class="card m-1">
                        <div class="card-body">
                            {{task.task}}
                            <span style="position: relative; float: right;">
                                <a class="btn btn-warning" href="{% url "todo:task-undone" task.slug %}" style="color: white"><i class="fa fa-times"></i></a>
                                <a class="btn btn-primary" href="{% url "todo:edit-task" task.slug %}"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger" href="{% url "todo:delete-task" task.slug %}"><i class="fa fa-trash"></i></a>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 p-0" style="position: absolute; bottom: 50px;">
            <!-- To Do Form -->
            <form action="{% url "todo:add-task" %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <span style="display: flex;" class="gap-3">
                        <input type="text" name="add_task" class="form-control" placeholder="Add a task" style="padding: 1rem .75rem !important;" required>
                        <button class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i> Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}